body {
  text-align: center;
  font-family: Helvetica;
}

.building-background {
  background-image: url("../the-flatiron-building.png");
}

footer {
  background-color: dimgray;
  text-align: left;
}

#copyright {
  font-size: 11px;
}

a {
  font-size: 18px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

h1, h2, h3 {
  font-weight: bold;
}

h1, a, footer, #white {
  color: white;
}

p {
  font-size: 14px;
}
