body {
  text-align: center;
  font-family: Helvetica;
}

.building-background {
  background-image: url("../the-flatiron-building.png");
}

footer {
  background-color: dimgray;
  text-align: left;
  color: white;
}

#copyright {
  font-size: 11px; 
}

a {
  font-size: 18px;
  color: white;
}

h1 {

}

h2 {

}

p {

}

h1, h2 {

}
